
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <img src="img/lubis.JPG" class="img-thumbnail rounded-circle" width="200" alt="profil">
            <h1 class="display-4"> Ade Maulana Lubis</h1>
            <p class="lead">Fullstack Developer | NEET</p>
            </div>
        </div>
    </div>

