
    <h3>Main Page Server</h3>

    <h4>mahasiswa</h4>
    <% mahasiswa.forEach(mhs => { %>
        <ul>
            <li>Nama: <%= mhs.nama %> </li>
            <li>Email: <%= mhs.email %> </li>
        </ul>
    <% }) %>
